// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #4899b7;
$secondary: #5cd3ff;

// Blå: #4899b7
// Blå comp: #5CD3FF
// Grå: #1a1a18

