

.card-news {

    img {
        height: 220px;
        object-fit: cover;
    }

    .news-category {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary;
        padding: map-get($spacers, 1) map-get($spacers, 2);
        font-size: $font-size-sm;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    }

    .card-img-overlay {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .card-title {
            margin-bottom: 0;
            text-shadow: 0px 0px 10px rgba(0,0,0,1);
        }

        .news-timestamp {
            font-size: $font-size-sm;
            text-shadow: 0px 0px 5px rgba(0,0,0,1);
        }
    }
}